#prof-hockey{
    margin-left: -20px;
}
#circle{
    display: flex;
    padding-left: 20px;
}
.program-section{
    text-align: center;
    font-family: Manrope;
    font-size: 36px;
    font-weight: 800;
}

/* For small device */
@media screen and (max-width: 576px) {
    #circle{
        flex-direction: column;
        align-items: center;
        width: 280px;
        height: 50px;
        gap: 40px;
        padding-left: 130px;
    }
    #hr-line{
        margin-top: 750px;
    } 
    .program{
        margin-top: 50px;
    }
    
    
}